.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 384px;
    margin: 20px;
    display: flex;
}

h1 {
    margin: 50px;
    text-align: center;
}
.js-paginator{
    margin: 50px;
    display: flex;
    justify-content: center;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title{
    text-align: center;
}
h3 {
    text-align: center
}
